@import '/assets/styles/colors';

body {
    margin: 0 !important;
    background-color: $off-white;
    background-image: url('/public/images/background-tile-xs-bright-contrast.png');
    background-repeat: repeat;
}