@import '/assets/styles/colors';
@import '/assets/styles/values';
@import '/assets/styles/browser-reset';

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');

body {
    background-color: $beige;
    font-family: "Source Sans", sans-serif;
    color: $primary;
}

h1 {
    text-align: left;
    font-size: 3rem;
}

h2 {
    font-family: 'Martel Sans', sans-serif;
    text-align: left;
    font-size: 2rem;
    color: $accent;
    margin-bottom: $spacing-s;
}

h3 {
    font-family: 'Martel Sans', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.2rem;
    color: $primary;
    margin-bottom: $spacing-s;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
